/* body of the item */
.survey {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  padding: 2em;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
}

.flash_msg {
  background-color: red;
  color: white;
}

.instruction-paragraph{
  color:teal;
  font-size: 1.2em;
}

.question {
  font-size: 2rem;
}

.thank-you-msg {
  font-size: 3rem;
}